body{
	width:100%;
	max-width: 50em;
	margin: 0 auto;
}

.msg{
	display:block;
}
.time{
	display:inline-block;
	font-weight:bold;
	margin-right: 1em;
	/*width: 20em;*/
}
.nick{
	display: inline-block;
	color: blue;
	margin-right: 1em;
}
.text{
	
}
img{
	max-width:100%;
}