@page{
	width: 210mm;
	height: 297mm;
	margin:1.5mm 5mm 1.5mm 5mm;
}
body{
	font-family: monospace;
	font-size: 32pt;
	line-height: 1.25;
}
body::before{
	font-size: 16pt;
	line-height: 1.25;
	content:'Latest message from updates@muc.complex.local: ';
}
#footer{
	font-size: 16pt;
	line-height: 1.25;
}